<nav class="navbar navbar-expand-lg navbar-dark navbar-custom p-3">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="@Url.Action("Index", "Landing")">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                <path d="M1.475 9.066a.5.5 0 0 1 .585.153L4.836 12.5h1.234L8.362 6.71a.5.5 0 0 1 .976.218l-2.617 6.387h1.005l2.05-4.881a.5.5 0 0 1 .945.397l-1.956 4.68h1.005l1.636-3.852a.5.5 0 0 1 .945.397l-2.07 4.893h.97l.5-1.176a.5.5 0 1 1 .9.448l-.644 1.504a.5.5 0 0 1-.449.336h-1.616a.5.5 0 0 1-.482-.334l-1.48-3.453-2.318 5.395a.5.5 0 0 1-.454.313H5.13a.5.5 0 0 1-.447-.276L2.007 9.352a.5.5 0 0 1 .153-.585z" />
                <path d="M8 3a4.492 4.492 0 0 0-4.493 4.493c0 3.292 2.912 5.088 4.212 5.432a.5.5 0 0 0 .566 0c1.3-.344 4.212-2.14 4.212-5.432A4.492 4.492 0 0 0 8 3z" />
            </svg>
            Portal de Saúde Gabriel
        </a>
        <div class="d-flex">
            <a class="btn btn-light btn-custom-animated" href="@Url.Action("Index", "Home", new { id = "SimpleList" })">Relatórios</a>
        </div>
    </div>
</nav>