/* Conteúdo movido do arquivo Index.cshtml e com as melhorias */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    background: linear-gradient(135deg, #0f2027, #2c5364 50%, #00c6ff);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-text {
    text-align: center;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .hero-text h1 {
        font-size: 4rem;
        font-weight: 700;
        text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    }

    .hero-text p {
        font-size: 1.5rem;
        margin-top: 1rem;
        text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    }

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.btn-custom-animated {
    transition: all 0.3s ease;
}

    .btn-custom-animated:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }
